article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
h2 {
  color: rgb(128, 148, 227);
}
h1{
  font-size: 50;
  color: rgb(252, 192, 249);
}
header {
  text-align: center;
  background-color: url('https://img.freepik.com/premium-vector/diverse-collection-french-dog-breeds-cute-funny_1310786-12813.jpg');
  background-size: cover;
  color: black;
}

li {
 display: inline;
 padding: 0px 10px 0px 10px;
}
ul {
  padding: 10px;

  }
img{
  margin: 40px 0px 0px 0px;
  border: 7px soild black;
  border-radius: 20px;
  
}

  .special{
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    #headerBar{
      padding: 10px;
      background: rgba(255, 165, 252, 0.508);
    }
   p {
    color: black;
   }
   
