article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
h2 {
  color: red;
}
h1{
  font-size: 50;
  color: green;
}
header {
  text-align: center;
  background-color: url('https://lh3.googleusercontent.com/d/1xqj_m8trHLWq4RPGzihz2ZV21fpSQs2w');;
  background-size: cover;
  color: white;
}
a {
  color: white;
  }
li {
 display: inline;
 padding: 0px 10px 0px 10px;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
  }
img{
  margin: 40px 0px 0px 0px;
  border: 7px soild white;
  border-radius: 20px;
}
  .whiteLink{
      color: white;
  }
  .special{
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    #headerBar{
      padding: 10px;
      background: rgba(220, 106, 182, 0.5);
    }
