h2 {
  color: red;
}
h1 {
  color: green;
}
header {
  text-align: center;
  background: url("https://lh3.googleusercontent.com/d/1jQ2ucLg82uzj-Y01XorbPN4M7O16WvkT/view");
  background-size: cover;
  color: white;
}
